/* global resets and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backg: #232323;
  --textGreen: #00ce41;
  --offWhite: #fcfcfc;
}
nav a,
nav a:hover {
  color: var(--textGreen);
  font-size: 1rem;
}
body {
  color: var(--offWhite) !important;
  background-color: var(--backg) !important;
  margin: 0 1rem !important;
}
.backg-reset {
  /* this is used to reset Bootstrap background styles */
  background-color: var(--backg) !important;
}

/* global fonts */
nav a,
body {
  font-family: "Manrope", sans-serif !important;
}
span {
  color: var(--textGreen);
}

/* ***** */
/* start of page styling */
header {
  margin-bottom: 6rem;
}
nav {
  justify-content: right;
}
h1 {
  font-weight: 600 !important;
  margin-top: 1rem !important;
}
h1 span,
h2 {
  color: var(--textGreen);
}
.card {
  /* original html: style="width: 18rem" */
  width: 15% !important;
  margin: 0 auto !important;
  color: #232323;
  margin-top: 2rem !important;
  text-align: center;

  /* styling card and transition with green effect */
  transition: all 0.7s;
  box-shadow: 0 0 10px 1px var(--textGreen);
}
.card:hover {
  transition: all 0.7s;
  box-shadow: 0 0 200px 1px var(--textGreen);
  transform: scale(1.1);
}
.card-body {
  background-color: rgb(205, 205, 187, 0.8) !important;
  padding: 0 0 !important;
}

/* jumbotron section */
.jumbotron {
  border-radius: 0 !important;
  margin: 0 15% !important;
  margin-bottom: 6rem !important;
  border-top: 1px var(--textGreen) dashed !important;
  border-left: 1px var(--textGreen) solid !important;
  border-right: 1px var(--textGreen) solid !important;
}
.jumbotron h2 {
  margin-bottom: 2rem;
}

.profile-picture-2 {
  width: 30%;
  border: 1px var(--offWhite) solid !important;
}

/* grid / my work section */
.container-fluid {
  border-top: 1px var(--textGreen) solid !important;
  border-left: 1px var(--textGreen) solid !important;
  border-right: 1px var(--textGreen) solid !important;
  background-image: url(/images/leaves-background.jpeg);
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100% !important;
}
.container-fluid h2 {
  padding-top: 6rem;
}
.col-sm {
  text-align: center;
  padding-top: 4rem !important;
}
.project-images {
  border: 1px solid var(--textGreen);
  border-radius: 11px;
}
.project-image-2 {
  width: 90% !important;
}
.row {
  margin-top: 1rem !important;
}
